pkgbase = digitalocean-synchronize
	pkgdesc = DigitalOcean Synchronization (passwords, keys, networks)
	pkgver = 2.7
	pkgrel = 2
	url = https://github.com/gh2o/digitalocean-debian-to-arch
	arch = any
	license = GPL
	depends = curl
	options = !strip
	source = digitalocean-synchronize.sh
	source = digitalocean-synchronize.service
	source = 90-dosync-virtio-no-rename.link
	sha256sums = 4b657d5fb413180bb1d5e513e8e466d8388ff935ef27e048c70fd34220a164d2
	sha256sums = 25e28f7b3351662b8e2da71aee38a1131df2568177e676e49f47a75d33894d64
	sha256sums = d85cde96e602a4ff296d18a7769c683a66feffe5db35a03cdeab651922681f85

pkgname = digitalocean-synchronize
