pkgbase = digitalocean-synchronize
	pkgdesc = DigitalOcean Synchronization (passwords, keys, networks)
	pkgver = 2.7
	pkgrel = 1
	url = https://github.com/gh2o/digitalocean-debian-to-arch
	arch = any
	license = GPL
	depends = curl
	options = !strip
	source = digitalocean-synchronize.sh
	source = digitalocean-synchronize.service
	source = 90-dosync-virtio-no-rename.link
	sha256sums = 140d2d4ca51c8ab5f58bcb6a1075c71bc712d6a35990c89810d92e96b994ac34
	sha256sums = 25e28f7b3351662b8e2da71aee38a1131df2568177e676e49f47a75d33894d64
	sha256sums = d85cde96e602a4ff296d18a7769c683a66feffe5db35a03cdeab651922681f85

pkgname = digitalocean-synchronize

